.env
frontend/.env
logs/
venv/
node_modules/
frontend/node_modules/
frontend/dist/
__pycache__/
*.pyc
.pytest_cache/

data/raw/
data/processed/
data/delta/
data/checkpoints/

airflow/logs/
mlruns/
mlflow.db

hadoop/
*.zip

models/*.pkl
requirements.txt

*.log
*.tmp
